<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <p>
Votre email a bien été rajouté sur la mailing list des Evadés de la rue Barrow!
    </p>
    
  </body>
</html>