<div class="page-header"><h1>Les dernières nouvelles de la cavale</h1></div>

<% unless @no_posted.empty? then %>
<div class="well">
  <p class="lead">Pas encore posté</p>

<%= render :partial=>"display_messages", :collection =>@no_posted, :as => :cavale %>
</div>
<% end %>
<%= render :partial=>"display_messages", :collection =>@cavales, :as => :cavale %>


<br />

<%= will_paginate @cavales %>
 <% if user_signed_in? %>

<%= link_to 'New Cavale', new_cavale_path %>
<% end %>