<p id="notice"><%= notice %></p>

<%= render :partial=>"display_messages", :locals => { :cavale => @cavale }%>




<%= link_to 'Edit', edit_cavale_path(@cavale) %> |
<%= link_to 'Back', cavales_path %>
