<h1>Listing spectacles</h1>

<table class="table table-striped table-bordered">

    <thead>
<%= render "spectacles_list_head" %>
  </thead>
<tbody>
<%= render :partial=>"spectacles_list", :collection =>@spectacles, :as => :spectacle %>
</tbody>

</table>

<br />



 <button class="btn btn-new"><%= link_to 'Nouveau spectacle', new_spectacle_path %></button>
