<div class="page-header"><h1>Qui sommes nous?</h1></div>

<p>Ils sont 13 et ils ne sont pas là pour rire. Ils ont déjà affronté toutes les polices de France, joué les filles de l’air pour s’extirper de différentes prisons et perfectionné leur art de bandits sur bien des coffres…</p>

<p>Ils sont les Évadés de la Rue Barrow. </p>

<p>Jeune troupe dynamique de théâtre d’improvisation, les Évadés de la Rue Barrow ont à leur actif plusieurs spectacles devant un public de 40 à 80 personnes dans des bars ou dans leur repaire à Télécom ParisTech. Un spectacle met en scène un présentateur et 5 improvisateurs, accompagnés d’un musicien et un lumiériste, pour une durée d’une à deux heures.</p>



<!-- <table class="table table-striped table-bordered">

    <thead>
<%= render "users_list_head" %>
  </thead>
<tbody>
<%= render :partial=>"users_list", :collection =>@users, :as => :user %>
</tbody>

</table>
 -->

<span class="row-fluid">

	<ul class="thumbnails">
<%= render :partial=>"avatars_list", :collection =>@users, :as => :user %>
	</ul>
</span>

<br />
<button class="btn btn-primary">
<%= link_to 'Nouveau Evadé', new_user_path %>
</button>