<h1>Listing users</h1>


<table class="table table-striped table-bordered">

    <thead>
<%= render "users_list_head" %>
  </thead>
<tbody>
<%= render :partial=>"users_list", :collection =>@users, :as => :user %>
</tbody>

</table>


<br />

<%= link_to 'New User', new_user_path %>
