<h1>Nos photos</h1>


	<% @photo_sets.each do |set| %>
		 <h2><%=set.title%></h2>
		 <ul class="thumbnails">
		 <% flickr.photosets.getPhotos(:photoset_id => set.id).photo.each do |p| %>
  			<li class="span4">
    			<a class="thumbnail" href=<%= "http://farm#{p.farm}.staticflickr.com/#{p.server}/#{p.id}_#{p.secret}.jpg" %>>
    				<div class="well"><%= image_tag "http://farm#{p.farm}.staticflickr.com/#{p.server}/#{p.id}_#{p.secret}.jpg", :class => "brand"%></div>
                		<p><%= p.title %></p>

    			</a>
	  		</li>
 		<% end %>
 		</ul>
 	<br>
 	<% end %>	


