<h1>Principe du spectacle</h1>

<em>Ils sont le crime organisé du 13<sup>ème</sup>.J’ai nommé : Marion l’Extorsion, Véronique la Sadique, Steeve l'Esquive, Gaëtan le Manipulant, Justine la Guillotine, Yvonne le Trombone, Georges le Coupe-Gorge, Suzanne la Pyromane, Lise l’Indécise, Simon la Partition, Emile le Viril,  Jean Paul la Boussole et Oliver le Marteau Piqueur.</em>


<p> Ils ont chacun leur personnalité et surtout leur spécialité, car, oui, ce sont des experts!</p>


<p>Le principe est simple : à son entrée dans la salle, chaque membre du public griffone sur un papier le mot qu’il souhaite transmettre aux évadés.</p>
<p> Puis, à chaque improvisation, le présentateur choisit un de ces mots qui devient alors l’indice d’une enquête, l’ordre d’une mission, l’argument d’une plaidoirie ! Chacun des 5 joueurs présente un court extrait de ce que lui inspire ce dernier. La personne du public ayant donné le mot choisit ensuite quel extrait elle veut voir développer par l’ensemble des 5 joueurs, et hop, la voilà embarquée dans des univers tous plus originaux les uns que les autres ! </p>


<p>Garde à vue, recrutement pour une mission impossible, procès : la vie de bandits, avec les Evadés, c’est du grand spectacle ! </p>

<p>Chaque spectacle a son identité propre et raconte un épisode de la vie des Évadés entre les impros.</p>


<p>L’art du crime, s’est de s’adapter aux contraintes imposées par la situation et par le présentateur ! Chanter, prédire l’avenir, s’accomoder du manque de lumière, remonter le temps, résister aux fusillades, les évadés sont capables de tout pour mener à bien leur mission ! </p>

<p>Le présentateur imposera des catégories pour certaines improvisations, qu’il s’agisse de catégories classiques de l’improvisation ou de création de la troupe : Comédie musicale, horoscope, doublage, dans le noir, improvisation contée et bien d’autres qui émailleront le spectacle.</p>

<p>Attention, ils préparent en ce moment-même un mauvais coup dans les rues de Paris !</p>

