<h1> Update DH </h1>
<%= render :partial => "jcrop_updater", :locals => { :lieux => @affiche_template.dhx, :lieuy => @affiche_template.dhy, :lieuwidth => @affiche_template.dhwidth, :lieuheigh => @affiche_template.dhheigh } %>


<%= form_for @affiche_template do |f| %>
  <% [[:dhx,:lieux], [:dhy,:lieuy], [:dhwidth,:lieuwidth], [:dhheigh,:lieuheigh]].each do |attribute,id| %>
    <%= f.hidden_field attribute, :id => id %>
  <% end %>
  <p><%= f.submit "Mettre à jour", :class => "btn btn-primary" %></p>
<% end %>

