<h1>Nos photos</h1>


	<% @photo_sets.each do |set| %>

		 <ul class="thumbnails">
		 	<%= link_to "Galerie", :controller => "photos", :action => "show" do %>
		 <h4><%=set.title%></h4>
		 <% flickr.photosets.getPhotos(:photoset_id => set.id).photo.sample(2).each do |p| %>
  			<li class="span4">
    				<div class="well"><%= image_tag "http://farm#{p.farm}.staticflickr.com/#{p.server}/#{p.id}_#{p.secret}.jpg", :class => "brand"%></div>
                		<p><%= p.title %></p>

	  		</li>
 		<% end %>
 		<% end %>
 		</ul>
 	<br>
 	<% end %>	


