<div class="page-header"><h1>Nos photos</h1></div>

<% @photo_sets.each do |set| %>
	<div class="thumbnail well">
		<%= link_to("photos/#{set.id}", :id => "#{set.id}") do %>
			<h4><%=set.title%></h4>
			<span class="row">
				<ul class="thumbnails">
<% flickr.photosets.getPhotos(:photoset_id => set.id).photo.sample(4).each do |p| %>
					<li class="span3">
						<%= image_tag "http://farm#{p.farm}.staticflickr.com/#{p.server}/#{p.id}_#{p.secret}.jpg", :class => "brand"%>
				  	</li>
<% end %>
		 		</ul>
		 	</span>	
 		<% end %>
	</div>

 	<br>
 <% end %>	

